@import url("style.css");

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.tarjeta {
  background: var(--color-azul-oscuro);
  padding: 10px 20px;
  border-radius: var(--radio);
  border-bottom: 5px solid var(--color-crema);
  box-shadow: var(--sombras);
  text-align: center;
}

.tarjeta h3 {
  color: var(--color-blanco);
  margin-bottom: 10px;
}

.tarjeta p {
  margin-bottom: 20px;
  color: var(--color-blanco);
}

.btn-primario {
  background-color: var(--color-crema);
  color: var(--color-azul-oscuro);
  padding: 10px 15px;
  border-radius: var(--radio);
}
